*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: 'Poppins';
}

h1,button{
    font-weight: 600;
}

img{
    max-width: 100%;
    max-height: 100%;
}

header{
    background-image: url("../huddlelandingpage/images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    padding: 40px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.nav, .btn{
    float: inline-end;
}

.btn{
    padding: 10px 40px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
}

.build-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px 20px;
}

.build{
    width: 45%;
}

.build h1{
    color:  hsl(192, 100%, 9%);
    font-size: bold;
    padding-right: 40px;
    margin: 5px 0;
}

.build p{
    color: hsl(192, 100%, 9%);
    font-size: 16px;
    padding-right: 100px;
    margin: 35px 0px;
}

.build button{
    background-color: hsl(322, 100%, 66%);
    color: #fff;
    padding: 15px 60px;
    border: none;
    border-radius: 25px;
}

.illus{
    width: 50%;
}

.content{
    padding: 0.5rem 7rem;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.bend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px 20px;
}

.bentol{
    width: 45%;
}

.bentol h1{
    font-size: bold;
    margin: 20px 0px;
    padding-left: 90px;
}

.bentol p{
    font-size: bold;
    margin: 20px 0px;
    padding: 1px;
    padding-left: 90px;
}

.rent{
    width: 40%;
}

.bill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-shadow: 2px black;
}

.up{
    padding: 100px;
}

.down h1, p{
    margin: 25px 0px;
    padding-right: 45px;
}

.not{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

}

.reply h1, p{
    width: 103%;
}

.buy{
    padding-left: 100px;
}

.foot-body{
    position: relative;
    max-width: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    padding: 60px 0px;
    box-shadow:  0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    margin-bottom: -105px;
}

.foot-body h1{
    margin-bottom: 15px;
}

.foot-button{
    margin-top: 20px;
    padding: 24px 100px;
    border: none;
    border-radius: 40px;
    background-color: hsl(322, 100%, 66%);
    color: #fff;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: hsl(192, 100%, 9%);
    color: #fff;
    padding: 200px 100px 30px;
}

.footer-logo{
    width: 250px;
    color: #fff;
    background-color: #fff;
}

.footer-sec{
    display: flex;
    margin-top: 40px 0px;
}

.sec-1{
    min-width: 40%;
    width: 40%;
}

 ul{
    list-style-type: none;
}

.add{
    display: flex;
    align-items: flex-start;
}

.add img{
    margin-top: 4px;
    margin-right: 20px;
}

li{
    margin-bottom: 20px;
    padding-right: 60px;
}

.sec-2, .sec-3{
    width: 20%;
    margin-left: 30px;
}

.copy{
    text-align: right;
}
@media (max-width: 390){
    header{
        padding: 30px 20px;
    }
    .build-sec{
        flex-direction: column;
        text-align: center;
    }
    .build{
        width: 95%;
    }
    
}